.circle-icon {
  border-radius: 50%;
  background-color: var(--palette-color-1-medium);
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--palette-color-2-medium);
  font-size: 1.5rem;
  position: relative;
}
.arrow-left {
  border: 0.75rem solid transparent;
  border-right: 0.75rem solid var(--palette-color-2-medium);
  position: absolute;
  margin-left: -1rem;
}

.arrow-right {
  border: 0.75rem solid transparent;
  border-left: 0.75rem solid var(--palette-color-2-medium);
  position: absolute;
  margin-right: -1rem;
}
.circle-icon img, .circle-icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--palette-color-2-medium)
}
