.field {
  box-sizing: border-box;
  border: 1px solid var(--palette-color-1-medium);
  height: 2.6rem;
  border-radius: var(--radius-small);
  background-color: var(--palette-color-glow);
  padding: 0 0.5rem;
  font-size: 1.25rem;
  outline: none;
  transition: 0.5s;
}
.field:focus {
  transition: 0.5s;
  border: 1px solid var(--palette-color-2-medium);
  background-color: var(--palette-color-focus-overlay);
}