.list-container,
.list-container-empty {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--palette-color-light);
  border: 1px solid var(--palette-color-1-medium);
  border-radius: var(--radius-small);
  overflow-y: auto;
}
.list-container-empty {
  justify-content: center;
  align-items: center;
}

.list-container-scroller {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.row {
  cursor: pointer;
}
.row,
.row-content {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row:not(:last-child) {
  border-bottom: 1px solid var(--palette-color-1-medium);
}
.row-content {
  padding: 0;
  flex-grow: 1;
  flex: 1 1 0;

}
.col-expand {
  flex-grow: 1;
  flex-basis: 100%;

}
.row.selected {
  background-color: var(--palette-color-2-light);
}
