.modal-frame {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: space-around;
  background-color: var(--palette-color-shadow);
}

.modal-window {
  background-color: var(--palette-color-1-light);
  padding: 2rem;
  padding-top: 0rem;
  transition: 1s;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-small);
  filter: drop-shadow(0 0 16px var(--palette-color-light-shadow));
}

.half-width {
  min-width: 50%;
}

.half-height {
  min-height: 50%;
}

.one-third-height {
  min-height: 33%;
}