.modal-frame {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: space-around;
  background-color: var(--palette-color-shadow);
}

.modal-window {
  background-color: var(--palette-color-1-light);
  width: 70%;
  height: 60%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  border-radius:6px;
  filter:drop-shadow(0 0 16px var(--palette-color-light-shadow))
}
