.tab-container {
  display: flex;
  flex-direction: column;
  
}
.tabs-placeholder {
  display: flex;
  flex-direction: row;
}
.tab-content {
  background-color: var(--palette-color-light);
  border: 1px solid var(--palette-color-1-medium);
  padding: 1rem;
  border-bottom-left-radius: var(--radius-small);
  border-bottom-right-radius: var(--radius-small);
}
.tab {
  padding: 1rem;
  border: 1px solid var(--palette-color-1-medium);
  border-top-left-radius: var(--radius-small);
  border-top-right-radius: var(--radius-small);
  cursor: pointer;
  border-bottom: none !important;
  position: relative;
  top: 1px;
  transition: 0.5s;

}
.tab[aria-selected="true"] {
  transition: 0.5s;
  background-color: var(--palette-color-light);
}
