:root {
  --palette-color-light: #ffffff;
  --palette-color-glow: #ffffff55;
  --palette-color-dark: #000;
  --palette-color-dark-overlay: #00000011;
  --palette-color-focus-overlay: #4ea9fd11;
  --palette-color-light-shadow: #00000022;
  --palette-color-shadow: #00000055;
  --palette-color-1-light: #eee;
  --palette-color-1-medium: #ccc;
  --palette-color-1-dark: #666;
  --palette-color-2-light: #4ea9fd;
  --palette-color-2-medium: #0385fd;
  --palette-color-2-dark: #27537d;
  --radius-small: 4px;
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--palette-color-1-dark);
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
.hspace {
  margin: 0 1rem;
}
.spacer-h,
.spacer-v {
  margin: 0;
  padding: 0;
  display: inline;
}

.spacer-h {
  margin-left: 1rem;
}
.spacer-v {
  height: 1rem;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
