:root {
  --palette-color-light: #ffffff;
  --palette-color-glow: #ffffff55;
  --palette-color-dark: #000;
  --palette-color-dark-overlay: #00000011;
  --palette-color-focus-overlay: #4ea9fd11;
  --palette-color-light-shadow: #00000022;
  --palette-color-shadow: #00000055;
  --palette-color-1-light: #eee;
  --palette-color-1-medium: #ccc;
  --palette-color-1-dark: #666;
  --palette-color-2-light: #4ea9fd;
  --palette-color-2-medium: #0385fd;
  --palette-color-2-dark: #27537d;
  --palette-color-3-light: #F79E99;
  --palette-color-3-medium: #F5584F;
  --palette-color-3-dark: #C2453E;
  --radius-small: 4px;
}
body,
html,
input,
select,
textarea {
  font-family: "Ubuntu";
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--palette-color-1-dark);
}
h2 {
  font-size: 2.25rem;
  margin: 1.125rem 0;
}
h3 {
  font-size: 2rem;
  margin: 1rem 0;
}
h4 {
  font-size: 1.75rem;
  margin: 0.875rem 0;
}
h5 {
  font-size: 1.5rem;
  margin: 0.75rem 0;
}
h6 {
  font-size: 1.25rem;
  margin: 0.625rem 0;
}
.hspace {
  margin: 0 1rem;
}
.spacer-h,
.spacer-v {
  margin: 0;
  padding: 0;
  display: inline;
}

.spacer-h {
  margin-left: 1rem;
}
.spacer-v {
  height: 1rem;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none!important;
}
.animated-hidden {
  display: none!important;
  transition: 0.5s;
}
.util-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.line-align-right {
  justify-content: flex-end;
}
.line-align-center {
  justify-content: center;
}
.fill-space {
  flex-grow: 1;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.half {
  width: 50%
}
.one-third {
  width: 33%;
}
.one-fourth {
  width: 25%;
}
.one-tenth {
  width: 10%;
}
.one-twenty {
  width: 5%;
}