
:root {
  --palette-color-light: #FFFFFF;
  --palette-color-glow: #FFFFFF55;
  --palette-color-dark: #000;
  --palette-color-light-shadow: #00000022;
  --palette-color-shadow: #00000055;
  --palette-color-1-light: #EEE;
  --palette-color-1-medium: #CCC;
  --palette-color-1-dark: #666;
  --palette-color-2-light: #4EA9FD;
  --palette-color-2-medium: #0385FD;
  --palette-color-2-dark: #27537D;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
